@font-face {
	font-family: 'Kollektif';
	src: url(fonts/Kollektif.ttf) format('truetype');
}
@font-face {
	font-family: 'Kollektif';
	src: url(fonts/Kollektif-Bold.ttf) format('truetype');
	font-weight: bold;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

/*█████████████████████████████████████████████████ TRANSITION OVERLAY █████ */
@-webkit-keyframes loadfade {
	0% {
		/* color: rgba(255,255,255,1); */
		color: rgba(255,255,255,0);

	}

	50% {
		/* color: rgba(255,255,255,0.4); */
		color: rgba(255,255,255,0);
	}

	100% {
		/* color: rgba(255,255,255,1); */
		color: rgba(255,255,255,0);
	}
}

.transitionoverlay {
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	color: #32374d !important;
	text-align: left;
	font-size: 1px;
	padding-top: 40vh;
	font-weight: bold;

	opacity: 93%;
	background-color: #32374d;

	pointer-events: none;
	transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
	animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);

	-webkit-animation-name: loadfade;
	animation-name: loadfade;

	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}

.transparent {
	opacity: 0%;
}
.hidden {
	display: none;
}

body {
	font-family: Kollektif;
	background-color: #FFF7EB;
	transition: all 1s linear;
}

p {
	font-size: 25px;
	letter-spacing: 1px;
}

h1 {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.container-abstract {
	padding: 0px 0px;
	height: auto;
}

/* width */
::-webkit-scrollbar {
	width: 18px;
	/* height: 8px */
}

/* Track */
::-webkit-scrollbar-track {
	background-color: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #686D9F;
	/* background-image: linear-gradient(90deg, #686D9F, #32374d); */
	border-radius: 9px;
	border: 6px solid #FFF7EB;
}

::-webkit-scrollbar-corner {
	background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #white;
}

#artwork {
	box-shadow: 0px 0px p0px rgba(0, 0, 0, 0.0);
	margin: 0px;
	width: 100%;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transition: margin-top 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.first {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transition: all 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.artworksection {
	width: 100%;
}

/*█████████████████████████████████████████████████████████████████████████████████████████████████████████ Sidenav ██████*/
.sidenav {
	height: 100%;
	width: 290px;
	position: fixed;
	z-index: 1;
	right: 0;
	background-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
	padding-top: 14%;
	opacity: 0.8;
	text-shadow: 2px 2px 0px rgba(198,196,189, 0.6);
}
.sidenav:hover {
	opacity: 100;
	text-shadow: 2px 2px 0px rgba(198,196,189, 0.);
	color: white;
	width: 290px;
}
.sidenav-text {
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}
.sidenav:hover .sidenav-text {
	opacity: 1;
}
.sidenav a {
	padding: 6px 1px 6px 8px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	text-align: right;
	transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}
.sidenav a:hover {
	color: ;
	padding-right: 20px;
}
.sidenav a:active {
	color: #4040ff;
	padding-right: 0px;
	margin-right: -20px;
	font-size: 20px;
}

/*█████████████████████████████████████████████████████████████████████████████████████████████████████████ Applists ██████*/
.applist {
	height: 550px;
	padding: 20px 20px 20px 8vh;
	background-color: rgba(0, 0, 0, 0.2);
	/* background-image: linear-gradient(90deg, #32374d, #1C1E2A, #1C1E2A, #1C1E2A, #1C1E2A, #1C1E2A, #1C1E2A); */
	overflow-y: scroll;
	overflow-x: hidden;
}

.icon {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	opacity: 1;
}


.pvimg {
	width: 1200px;
	border-radius: 20px;
	border: 8px solid black;
	transform-origin: left;
	opacity: 0.5;
	transform: scale(0.98);
	-webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), filter 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1); /* Safari prior 6.1 */
	transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), filter 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.label {
	margin-bottom: -5px;
	font-size: 20px;
	font-weight: normal;
	opacity: 0.4;
	-webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), filter 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1); /* Safari prior 6.1 */
	transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), filter 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.item {
	width: 100%;
	max-width: 1300px;

	height: auto;
	padding: 0px 0px 40px 0px;
	opacity: 1;
}

div:hover > table .pvimg {
	opacity:1;
	transform: scale(1);
	filter: blur(0px);
}

div:hover > table .label {
	opacity:1;
	filter: blur(0px);
}

/*█████████████████████████████████████████████████████████████████████████████████████████████████████████ QS Demo ██████*/
.quickstripdemo {
	background-color: white;
	background-image: linear-gradient(174deg, #FFF, #FFF, #FFF, #FFF, #FFF, #FFF, #FFE0E3);
	overflow: hidden;
	padding: 20px 0px 80px 0px;
}

.touchbarimg {
	height: 7vw;
	border-radius: 25px;
	border: 1.2vw solid black;
	transform-origin: left;
	margin: 20px 60px;
	outline: none;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

	/* transform: scale(0.98); */
	-webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), filter 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1); /* Safari prior 6.1 */
	transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), filter 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#qstop {

}

#qsbtm {
	float: right;
}

.switcher {
	display: grid;
	grid-template-rows: 1fr ;
	grid-template-columns: : 1fr 1fr 1fr 1fr ;
	grid-template-areas:
	'item1 item2 item3 item4';
	grid-gap: 10px;
	margin: 50px 1vh !important;
	height: 80px;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.switcheritem {
	text-align: center;
	font-size: 6vw;
	color: #FFB2B8;
	transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
	user-select: none;
}
.switcheritem:hover {
	padding-top: 20px;
}
.switcheritem:active {
	padding-top: 40px;
}
.switcheritemactive{
	color: black;
	padding-top: 40px;
	pointer-events: none;
}

#qsPlaying {
	grid-area: item1;
}
#qsSchedules {
	grid-area: item2;
}
#qsControls {
	grid-area: item3;
}
#qsApps {
	grid-area: item4;
}

.hidden {
	display: none;
}

@keyframes ticker {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 0%;
	}

	5% {
		opacity: 100%;
	}

	95% {
		opacity: 100%;
	}

	100% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		opacity: 0%;
	}
}

.ticker-wrap {
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}

.ticker {
	display: inline-block;
	white-space: nowrap;
	opacity: 100%;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;

	-webkit-animation-name: ticker;
	animation-name: ticker;

	-webkit-animation-duration: 10s;
	animation-duration: 10s;
}

.ticker__item {
	display: inline-block;
	text-align: left;
	font-weight: bold;
	font-size: 3.5vw;

	padding: 0 2rem;
	color: #999;
}

/*█████████████████████████████████████████████████████████████████████████████████████████████████████████ Footer ██████*/
.footer {
	display: grid;
	grid-template-rows: 9vw 9vw ;
	grid-template-columns: auto auto 9vw 9vw 9vw;
	/* grid-template-areas: 'footerlabel footer1 footer2 footer3 footer4'; */
	grid-template-areas:
	"footerlabel footerlabel footer1 footer2 footer3"
	"footerlabel footerlabel footer4 footer5 footer6";
	width: calc(100% - 20vw);
	padding: 150px 8vw 100px 12vw;
	color: black;
	vertical-align: bottom;
	background-color: #fef7ec;
}

.footericon {
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
	border: 0.5vw solid black;
	margin-right: 2vw;
}

.footertitle {
	color: black;
	font-size: 3.5vw;
	margin: 0px 0px 20px 0px;
}

.footerlink {
	color: white;
	font-size: 2.5vw;
	margin: 0;
}
.socialicon {
	height: 7vw;
	width: 7vw;
	border-radius: 50%;
	border: 1px solid white;
	/* margin-right: 2vw; */
	transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}
.socialicon:hover {
	border: 3px solid black;
	transform: scale(1.15);
}
.socialicon:active {
	transform: scale(0.9);
}

.trybtn {
	display: block;
	position: fixed;
	bottom: 50px;
	left: -20px;
	background-color: #FFB2CF;
	color: white;
	width: 200px;
	height: 60px;
	padding: 10px 38px;
	font-weight: bold;
	font-size: 50px;
	text-align: right;
	border-radius: 0 50px 50px 0;
	z-index: 10;
	box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.3);
	/* backdrop-filter: blur(7px); */
	/* -webkit-backdrop-filter: blur(7px); */

	transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
	transform-origin: left;

}
.trybtn:hover {
	background-color: #FFB2CF;
	color: white;
	transform: translateX(-20px);
}
.trybtn:active {
	transform: translateX(20px);
}

/* █████ MAIN CONTAINERS █████████████████████████████████████████████████ */
.mainbody {
	/* background-color: black; */
	padding: 150px 10px 0px 10px;
	/* width: 1200px; */

	width: 1100px;
	margin: 0 0 80px 50vw;

	/* Centre Horizontally */
	transform: translateX(-50%);

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	transition: padding 1s cubic-bezier(0.85, 0, 0.15, 1), font-size 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-content: center;
	align-self: center;
	gap: 20px;

	width: 100%;
	height: 100%;
}

/* █████ ITEM BOX █████████████████████████████████████████████████ */
.box {
	display: flex;
	/* margin: 10px 0 0 0; */
	height: 220px;
	width: 340px;
	padding: 30px 0 0 0;

	text-align: center;
	vertical-align: bottom;

	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	overflow: hidden;

	box-shadow: 0px 6px 12px rgba(0,0,0,0.16);
	border: 2px solid #AAA;
	border-radius: 20px;
	transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.box:hover {
	transform: scale(1.03);
}

.box:active {
	transform: scale(0.98);
}

.title {
	font-family: Kollektif;

	align-self: flex-end;
	padding: 30px 30px;
	margin: 0;
	width: 100%;

	font-size: 1.8em;
	color: white;
	font-weight: bold;

	border-radius: 0px 0px 18px 18px;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}

/* █████ IMAGE HEADER BOX █████████████████████████████████████████████████ */
.header {
	width: 100%;
	height: 90vh;
	background-color: white;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* █████ COMING SOON BOX █████████████████████████████████████████████████ */
.comingsoonbox {
	display: flex;
	/* margin: 10px; */
	height: 220px;
	width: 340px;
	padding: 30px 0px 0px 0px;

	font-family: Kollektif;
	color: white;
	font-size: 1.8em;
	text-align: center;
	vertical-align: bottom;

	background-color: rgba(0,0,0,0.1);
	border: 2px solid #AAA;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	box-shadow: inset 0px 8px 30px rgba(0,0,0,0.2);
	border-radius: 20px;

	overflow: hidden;

	transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.comingsoonbox:hover {
	box-shadow: inset 0px 4px 15px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.05);
}

.comingsoonbox:active {
	box-shadow: inset 0px 15px 50px rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.15);
}

.comingsoontitle {
	align-self: flex-end;
	padding: 30px 30px;
	margin: 0;
	width: 100%;
	border-radius: 0px 0px 20px 20px;
}

/*█████████████████████████████████████████████████████████████████████████████████████████████████████████ RESPONSIVE ██████*/

@media only screen and (max-width: 800px) {
	.title {font-size: 100px;}
	.starting {25px;}
	.headertext {padding: 100px 50px;}
	.abstract {padding: 100px 50px;}
	.viewart {padding: 100px 50px;}

	.applist {
		padding-left: 3vh;
		overflow-x: scroll;
	}
	.quickstripdemo {
		padding: 0px 0px 20px 0px;
	}
	.ticker-wrap {
		margin-bottom: 20px;
	}
	.switcher {
		margin-top: 30px !important;
		margin-bottom: 30px !important;
	}
}

@media only screen and (max-width: 600px) {
	.title {font-size: 70px;}
	.sidenav {height: auto}
	.starting {20px;}
	.headertext {padding: 100px 25px;}
	.abstract {padding: 100px 25px;}
	.viewart {padding: 100px 25px;}
	p {font-size: 19px;}
	.switcher {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	.trybtn{
		border-radius: 0px 30px 30px 0px;
		font-size: 30px;
		width: 100px;
		height: 35px;
		bottom: 25px;
	}
}

@media only screen and (min-width: 1200px) {
#artwork {
	box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.2);
	margin-left: 50vw;
	width: 1200px;
	margin-top: 60px;
	transform: translateX(-50%);

	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.ticker {
	padding-top: 50px;
}

.switcheritem {
	font-size: 60px;
}

.ticker__item {
	font-size: 30px;
}

.first {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.applist {
	padding-left: 5vh;
}

.touchbarimg {
	height: 100px;
	border-radius: 40px;
	border: 19px solid black;
	margin: 30px 90px;
}

/* .footericon {
	width: 80px;
	height: 80px;
	border: 5px solid black;
} */

/* .footerlink {
	font-size: 30px;
} */

.footer {
	grid-template-rows: 110px 110px ;
	grid-template-columns: auto auto 110px 110px 110px;
	padding: 200px 140px 200px 140px;
	width: calc(100% - 280px);
}

.footertitle {
	color: black;
	font-size: 30pt;
	margin: 0px 0px 20px 0px;
}

.socialicon {
	height: 80px;
	width: 80px;
	margin-right: 0px;
}

.textcontent {
	font-size: 1px;
	opacity: 0;
	position: fixed;
	display: block;
}



























/* █████ VERY SKINNY BREAKPOINT (remove margins and decrese text size) █████████████████████████████████████████████████ */
@media only screen and (max-width: 600px) {
	body {
		/* padding: 10px; */
	}

	h1 {
		font-size: 40px !important;
		/* padding: 0px 10px 20px; */
	}

	p {
		font-size: 25px !important;
	}

	a {
		text-decoration: none;
	}

	#topnavContainer {display: none !important;}
	#topnavcontainercompact {display: flex !important;}

	.mainbody {
		margin: 0px 20px 20px 20px;
		padding: 100px 0px 0px 0px;
		transform: none;
		width: calc(100% - 40px) !important;
	}
	.container {
		justify-content: center !important;
	}
	.box {
		width: 100%;
	}
	.comingsoonbox {
		width: 100%;
	}
	.player {
		margin: 0;
	}
}

/* █████ COMPACT MENUBAR (BODY) BREAKPOINT █████████████████████████████████████████████████ */
@media only screen and (min-width: 600px) and (max-width: 789px) {
	.mainbody {
		margin: 0 30px 20px 30px;
		padding: 100px 0px 0px 0px;
		transform: none;
		width: calc(100% - 60px) !important;
	}
	.container {
		justify-content: center !important;
	}
	.box {
		width: 100%;
	}
	.comingsoonbox {
		width: 100%;
	}
}

/* █████ TWO COLUMN BREAKPOINT █████████████████████████████████████████████████ */
@media only screen and (max-width: 1151px) {
	.mainbody {
		width: 729px;
	}
	#topnavContainer {display: flex;}
	#topnavcontainercompact {display: none;}
}
