@font-face {
	font-family: 'Kollektif';
	src: url(fonts/Kollektif.ttf) format('truetype');
}
@font-face {
	font-family: 'Kollektif';
	src: url(fonts/Kollektif-Bold.ttf) format('truetype');
	font-weight: bold;
}

body {
	font-family: Kollektif;
	background-color: #F2F2F4;
	transition: all 1s cubic-bezier(0.85, 0, 0.15, 1);
	color: #8B8B8B;
	margin: 0;
	/* padding: 20px; */
	/* background-image: url(img/akariHello.png);"; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 50px;
	/* padding: 20px 20px 20px; */
}

p {
	font-size: 30px;
}

body p {
	/* padding: 20px 20px 20px; */
}

a {
	text-decoration: none;
}

/* █████ MAIN CONTAINERS █████████████████████████████████████████████████ */
.mainbody {
	/* background-color: black; */
	padding: 0px;
	/* width: 1200px; */

	/* box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5); */
	width: 1100px;
	margin: 150px 0 80px 50vw;
	/* pad */

	/* Centre Horizontally */
	transform: translateX(-50%);

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	transition: padding 1s cubic-bezier(0.85, 0, 0.15, 1), font-size 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-content: center;
	align-self: center;

	width: 100%;
	height: 100%;
}

/* █████ ITEM BOX █████████████████████████████████████████████████ */
.box {
	display: flex;
	margin: 10px;
	height: 220px;
	width: 340px;
	padding: 30px 0px 0px 0px;

	color: white;
	font-size: 10em;
	text-align: center;
	vertical-align: bottom;

	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	overflow: hidden;

	box-shadow: 0px 6px 12px rgba(0,0,0,0.16);
	border: 2px solid #AAA;
	border-radius: 20px;
	transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.box:hover {
	transform: scale(1.03);
}

.box:active {
	transform: scale(0.98);
}

.title {
	align-self: flex-end;
	padding: 30px 30px;
	margin: 0;
	width: 100%;
	border-radius: 0px 0px 18px 18px;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}

/* █████ COMING SOON BOX █████████████████████████████████████████████████ */
.comingsoonbox {
	display: flex;
	margin: 10px;
	height: 220px;
	width: 340px;
	padding: 30px 0px 0px 0px;

	color: white;
	font-size: 10em;
	text-align: center;
	vertical-align: bottom;

	background-color: rgba(0,0,0,0.1);
	border: 2px solid #AAA;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	box-shadow: inset 0px 8px 30px rgba(0,0,0,0.2);
	border-radius: 20px;

	overflow: hidden;

	transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.comingsoonbox:hover {
	box-shadow: inset 0px 4px 15px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.05);
}

.comingsoonbox:active {
	box-shadow: inset 0px 15px 50px rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.15);
}

.comingsoontitle {
	align-self: flex-end;
	padding: 30px 30px;
	margin: 0;
	width: 100%;
	border-radius: 0px 0px 20px 20px;
}


/* █████ TOP NAVIGATION █████████████████████████████████████████████████ */
/* top bar  */
.topnavContainer {
	width: 100%;
	/* height: 55px; */
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;

	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px) saturate(120%);

	display: flex;
	justify-content: space-between;
	transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
	transform-origin: top right;
}

.topnavContainer ul {
	list-style: none;
	margin: 0;
}

/* items */
.navgroup {
	display: flex;

	margin: 0;
	padding: 0;

	flex-flow: row wrap;
	/* This aligns items to the end line on main-axis */
}

.navleft {
	justify-content: flex-start;
}

.navmiddle {
	justify-content: center;
}

.navright {
	justify-content: flex-end;
}


.navItem {
  text-decoration: none;
  display: block;
  padding: 0.5em;
	margin: 0.5em;
  color: #888;
	line-height: 13px;

	border-radius: 5px;
	font-weight: bold;

	transition: background 0.5s cubic-bezier(0.16, 1, 0.3, 1), color 0.5s cubic-bezier(0.16, 1, 0.3, 1);

  /* transition-property: background, color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1); */
}

.navItem:hover {
	color: #0000FF;
	background-color: rgba(150,150,150,0.3);
}

.navItem:active {
	color: #0000FF;
	background-color: rgba(150,150,150,0.6);
}

.navItemactive {
	color: #0000FF;
	background-color: rgba(150,150,150,0.3);
}

.navitemselected {
	color: black !important;
	display: inline-block !important;
	pointer-events: none;
	padding: 0.5em 0.5em 0em;
	margin: 0.5em 0.5em 0em;
}

.navitemselected > .selectedline {
	background-color: rgba(0,0,0,1);
	width : 100%;
	height : 4px;
	border-radius: 2px;
	display: inline-block;
	margin: 0;
}

.selectedline {
	background-color: rgba(0,0,0,1);
	width : 0%;
	height : 4px;
	border-radius: 0;
	display: inline-block;
	margin: 0;

	transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.topnavContainercompact {
	z-index: 99;
}


/* █████ SCRIPTING █████████████████████████████████████████████████ */
.goneReducedToAtoms {
	display: none !important;
	cursor: none !important;
	pointer-events: none !important;
	user-select: none !important;
}

.hidden {
	opacity: 0;
	transform: scale(0.8);
}

.nointeract {
	pointer-events: none;
	-webkit-pointer-events: none;
}

/* █████ EMBEDS █████████████████████████████████████████████████ */
.player {
	border-radius: 20px;
	margin: 10px;
}

/* █████████████████████████████████████████████████████████████████████████████ */
/* █████ RESPONSIVE TRIGGERS ███████████████████████████████████████████████████ */
/* █████████████████████████████████████████████████████████████████████████████ */


/* █████ VERY SKINNY BREAKPOINT (remove margins and decrese text size) █████████████████████████████████████████████████ */
@media only screen and (max-width: 600px) {
	body {
		/* padding: 10px; */
	}

	h1 {
		font-size: 40px !important;
		padding: 0px 10px 20px;
	}

	p {
		font-size: 25px !important;
	}

	a {
		text-decoration: none;
	}

	#topnavContainer {display: none !important;}
	#topnavcontainercompact {display: flex !important;}

	.mainbody {
		margin: 100px 10px 20px 10px;
		transform: none;
		width: calc(100% - 20px) !important;
	}
	.container {
		justify-content: center !important;
	}
	.box {
		width: 100%;
	}
	.comingsoonbox {
		width: 100%;
	}
	.player {
		border-radius: 20px;
		margin: 0;
	}
}

/* █████ COMPACT MENUBAR (BODY) BREAKPOINT █████████████████████████████████████████████████ */
@media only screen and (min-width: 600px) and (max-width: 789px) {
	.mainbody {
		margin: 100px 30px 20px 30px;
		transform: none;
		width: calc(100% - 60px) !important;
	}
	.container {
		justify-content: center !important;
	}
	.box {
		width: 100%;
	}
	.comingsoonbox {
		width: 100%;
	}
}

/* █████ COMPACT MENUBAR BREAKPOINT █████████████████████████████████████████████████ */
@media only screen and (max-width: 789px) {
	#topnavcontainercompact {
		display: flex !important;
	}

	#topnavcontainercompact .navleft{
		border-bottom: none;
	}

	#topnavContainer {
		display: flex !important;
		flex-flow: column;
		overflow-y: scroll;

		width: auto;
		max-height: calc(100vh - 20px);
		right: 0;
		left: auto;
		margin: 10px;
		border-radius: 20px;
		border: 2px solid rgba(170, 170, 170, 1);
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0px 6px 12px rgba(0,0,0,0.16);
	}
	.navgroup {
		flex-flow: column wrap;
	}
	.navleft {
		justify-content: flex-start;
		/* padding-bottom: 20px; */
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: space-between;
		border-bottom: 8px solid rgba(150,150,150,0.2);
	}
	.navmiddle {
		justify-content: flex-start;
		/* padding-bottom: 20px; */
		border-bottom: 8px solid rgba(150,150,150,0.3);
	}
	.navright {
		justify-content: flex-start;
	}
	/* UNHIDE THE CLOSE BUTTON */
	#navclose {
		display: block !important;
		align-self: flex-end;
	}
	.navItem {
		padding: 1em;
		margin: 0px 6px;
	}
	.navitemselected {
		padding: 1em;
		margin: 0px 6px;
		display: inline-block;
		width: calc(100% - 2em - 12px);
	}

	.selectedline {
		display: inline-block;
		margin-top: 4px !important;
		float: right;
		width: 4px;}
	.navitemselected > .selectedline {
		margin-top: 4px;
		width: 40px;
	}

	.navgroup li {
		overflow: hidden;
	}
	.navgroup li:last-child {
		margin-bottom: 6px;
	}
	.navgroup li:first-child {
		margin-top: 6px;
	}
 	.navleft li {
		margin: 6px 0 !important;
	}
	#navPlayer {
		border-radius: 5px 5px 13px 13px;
	}
	#navHello {
		border-top-left-radius: 13px;
		margin-right: 0;
		/* width: 140px; */
		white-space: nowrap;
	}
	#navHello > .selectedline {
		display: none;
	}
	#navHello[class="navitemselected"] {
		width: 1000px;
	}
	#navclose {
		border-top-right-radius: 13px;
	}
}

/* █████ TWO COLUMN BREAKPOINT █████████████████████████████████████████████████ */
@media only screen and (max-width: 1151px) {
	.mainbody {
		width: 729px;
	}
	#topnavContainer {display: flex;}
	#topnavcontainercompact {display: none;}
}

/* █████ EXCESSIVE WIDTH █████████████████████████████████████████████████ */
/* set to same as two column. */
@media only screen and (min-width: 1151px) {
	#topnavContainer {display: flex;}
	#topnavcontainercompact {display: none;}
}

/* █████ DARK MODE COMPACT MENUBAR █████████████████████████████████████████████████ */
/* Set to same as Compact Menubar. */
@media only screen and (prefers-color-scheme: dark) and (max-width: 789px) {
	#topnavContainer {
		border: 2px solid rgba(255, 255, 255, 0.4);
		background-color: rgba(0,0,0,0.6);
		box-shadow: 0px 6px 12px rgba(0,0,0,0.16);
	}
}

/* █████ DARK MODE █████████████████████████████████████████████████ */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #14161F;
	}

	.topnavContainer {
		background-color: rgba(0,0,0,0.6);
	}

	.navItem {
		color: #AAA;
	}

	.navItem:hover {
		color: #84ECFF;
	}

	.navItem:active {
		color: #84ECFF;
	}

	.navitemselected {
		color: white !important;
		text-shadow: 0px 0px 10px rgba(251,228,197,1);
		text-shadow: 0px 0px 10px rgba(251,228,197,1);
	}

	.navitemselected > .selectedline {
		background-color: rgba(255,255,255,1);
	}

	.selectedline {
		background-color: rgba(255,255,255,1);
		box-shadow: 0px 0px 10px rgba(251,228,197,1);
		box-shadow: 0px 0px 10px rgba(251,228,197,1);
	}

	.box {
		border: 2px solid #444;
		transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
	}

	.comingsoonbox {
		border: 2px solid #444;
		box-shadow: inset 0px 4px 15px rgba(251,228,197,0.4);
	}

	.comingsoonbox:hover {
		box-shadow: inset 0px 8px 30px rgba(251,228,197,0.6);
		background-color: rgba(251,228,197,0.05);
	}

	.comingsoonbox:active {
		box-shadow: inset 0px 15px 50px rgba(251,228,197,1);
		background-color: rgba(251,228,197,0.3);
	}

}
